/* You can add global styles to this file, and also import other style files */
@import url("./assets/normalize.scss");
@import url("./assets/fonts.css");


.workArea__el_moving  {
  box-shadow: 0 0 5px rgb(163, 16, 16) !important;
}
.workArea__el{
  position: absolute;
  top: 0px;
  left: 0px;
  img{
    width: 100px;
  &:hover{
    cursor: pointer;
    box-shadow: 0 0 5px rgb(16, 146, 163);
  }
  }
}



.activeEl{
  box-shadow: 0 0 5px rgb(163, 16, 16) !important;
}

.logEl{
  position: relative;
  margin: 0px;
  padding: 0px;
  width: min-content;
  .inputValue_1{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 5px;
    left: 20px;
  }
  .inputValue_2{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 35px;
    left: 20px;
  }
  .outputValue{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 20px;
    right: 10px;
  }
}

.multiplexer{
  .inputValue_1{
    position: absolute;
    top: 12px;
    left: 0px;
  }
  .inputValue_2{
    position: absolute;
    top: 35px;
    left: 0px;
  }
  .inputValue_3{
    position: absolute;
    top: 60px;
    left: 0px;
  }
  .inputValue_4{
    position: absolute;
    top: 82px;
    left: 0px;
  }
  .inputValue_5{
    position: absolute;
    top: 108px;
    left: 0px;
  }
  .inputValue_6{
    position: absolute;
    top: 135px;
    left: 0px;
  }
  .outputValue{
    position: absolute;
    top: 75px;
    right: 0px;
  }
}
.decoder{

  .inputValue_1{
    position: absolute;
    top: 12px;
    left: 0px;
  }
  .inputValue_2{
    position: absolute;
    top: 45px;
    left: 0px;
  }
  .outputValue_1{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .outputValue_2{
    position: absolute;
    top: 20px;
    right: 0px;
  }
  .outputValue_3{
    position: absolute;
    top: 43px;
    right: 0px;
  }
  .outputValue_4{
    position: absolute;
    top: 62px;
    right: 0px;
  }
}
.encoder{
  .inputValue_1{
    position: absolute;
    top: 2px;
    left: 0px;
  }
  .inputValue_2{
    position: absolute;
    top: 20px;
    left: 0px;
  }
  .inputValue_3{
    position: absolute;
    top: 25px;
    left: 0px;
  }
  .inputValue_4{
    position: absolute;
    top: 45px;
    left: 0px;
  }
  .outputValue_1{
    position: absolute;
    top: 20px;
    right: 0px;
  }
  .outputValue_2{
    position: absolute;
    top: 45px;
    right: 0px;
  }
}
